<div class="panel panel-primary">
  <div class="panel-heading">
      Add a Product!
  </div>

  <div class="panel-body">
      <form class="form-horizontal"
            novalidate
            (ngSubmit)="save()"
            [formGroup]="productForm">
          <fieldset>
              <div class="form-group"
                  [ngClass]="{'has-error': (productForm.get('name').touched || 
                                            productForm.get('name').dirty) &&
                                            !productForm.get('name').valid }">
                  <label class="col-md-2 control-label" 
                         for="nameId">Product's Name</label>

                  <div class="col-md-8">
                      <input class="form-control" 
                             id="nameId" 
                             type="text" 
                             placeholder="Name (required)" 
                             formControlName="name" />
                      <span class="help-block" *ngIf="(productForm.get('name').touched || 
                                                       productForm.get('name').dirty) && 
                                                       productForm.get('name').errors">
                          <span *ngIf="productForm.get('name').errors.required">
                              Please enter the product's name.
                          </span>
                          <span *ngIf="productForm.get('name').errors.minlength"> 
                            Name requires a length greater than 2.
                          </span>                          
                      </span>
                  </div>
              </div>

              <div class="form-group"
                  [ngClass]="{'has-error': (productForm.get('price').touched || productForm.get('price').dirty) && !productForm.get('price').valid }">
                  <label class="col-md-2 control-label" 
                      for="priceId">Price</label>

                  <div class="col-md-8">
                      <input class="form-control" 
                             id="priceId" 
                             type="text" 
                             placeholder="Price (required)" 
                             formControlName="price" />
                      <span class="help-block" *ngIf="(productForm.get('price').touched || productForm.get('price').dirty) && productForm.get('price').errors">
                          <span *ngIf="productForm.get('price').errors.required">
                              Please enter the Price.
                          </span>
                          
                     </span>
                  </div>
              </div>

              <div class="form-group"
                  [ngClass]="{'has-error': !productForm.get('image').valid }">
                  <label class="col-md-2 control-label" 
                      for="phoneId">Photo</label>

                  <div class="col-md-8">
                      <input class="form-control" 
                             id="phoneId" 
                             placeholder="image" 
                             formControlName = "image" />
                      <span class="help-block" *ngIf="productForm.get('image').errors">
                          <span *ngIf="productForm.get('image').errors.required">
                              Please enter your photo.
                          </span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-4 col-md-offset-2">
                      <span>
                          <button class="btn btn-primary"
                                  type="submit"
                                  [disabled]="!productForm.valid">
                              Save
                          </button>
                      </span>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
</div>
<br>Dirty: {{ productForm.dirty }} 
<br>Touched: {{ productForm.touched }}
<br>Valid: {{ productForm.valid }}
<br>Value: {{ productForm.value | json }}